@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body{
    font-family: "K2D";
}

.intro-1 {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 6rem;
}

.intro-1 h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.intro-1 p {
    font-size: 1rem;
    margin-top: 1rem;
    color: #666;
}
.content{
  font-size: 1rem;
  margin:0 100px 0 100px;
}
.inline-image {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: auto;
    margin: 0 0.5rem;
    border-radius: 1rem;
}

.intro-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro-tagline div {
    margin: 0 0.5rem;
}

.title2{
    padding: 20px 0 20px 30px;
    background: linear-gradient(to right, #11998e, #38ef7d); 
    background-clip: text;
    color: transparent;
}
.subtitle{
    padding-left: 30px;
}
.box {
    position: relative;
}

.intro3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: url('./asset/img/mask-image.png');
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('./asset/img/mask-image.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}

.intro-2{
    padding-top: 30px;
}
.members{
    text-align: center;
}
.intro-card2 {
    width: 420px;
    height: 220px;
    /* background:linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
    background: rgba(255, 255, 255, 0.1);
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 1rem;
   }
   
   .intro-cardimg2 {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: relative;
    transition: all .3s ease-in-out;
    
   }
   
   .intro-cardimg2::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid #e8e8e8;
   }
   
   /*Text*/
   .text-title {
    text-transform: uppercase;
    font-size: 1em;
    color: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    letter-spacing: 0.05rem;
   }

   .text-body {
    font-size: 0.9em;
    text-align: center;
    color: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    font-weight: 400;
    font-style: italic;
    margin-top: -36px;
   }
   .intro-card2:hover .intro-cardimg2 {
    --size: 105px;
    width: var(--size);
    height: var(--size);
   }
.intro-3{
    padding-top: 50px;
}
.text{
    background: linear-gradient(to right, #11998e, #38ef7d); 
    background-clip: text;
    color: transparent;
}
   
.intro-4{
    padding-top: 10px;
}

.intro-card3 {
    width: 100%;
    max-width: 290px;
    height: 150px;
    background:linear-gradient(109.6deg, rgb(145, 198, 242) 31.3%, rgb(160, 234, 185) 100.2%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .intro-card3:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .card-img3 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 1rem;
    background: transparent;
  }
  
  .intro-card3:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .span {
    font-size: 10px;
  } */
  
  .h1 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .p {
    font-size: 13px;
  }
  .book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  

  .intro-5{
    padding-top: 50px;
  }

.title3{
  padding: 20px 0 20px 30px;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  background-clip: text;
  color: transparent;
}
.title4{
  padding: 20px 0 20px 30px;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  background-clip: text;
  color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute elements evenly */
  width: 100%;
  height: 200px;
  background-color: #2ecc71; /* Green background color */
}

.logo-text {
  display: flex;
  align-items: center; 
}

.logo-text span {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

.logo-image {
  width: 200px;
  height: auto;
}
.title5{
  padding: 20px 0 20px 30px;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  background-clip: text;
  color: transparent;

}
.intro5-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url('./asset/img/maskcirle.png');
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('./asset/img/maskcirle.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}
.intro-6{
  padding-top: 50px;
  width: 100%;
  padding: 20px;
}
.title6{
  padding: 20px 0 20px 30px;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  background-clip: text;
  color: transparent;
  text-align: center;

}
.intro-6title{
  font-size: 20px;
  font-weight: bold;
}
.intro-6subtitle{
  font-size: 15px;

}
.li{
  list-style: none;
  font-size: 15px;
}
.intro-7{
  padding-top: 80px;
}
.title7{
  padding: 20px -15px 20px 30px;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 20px;

}

.intro7-img{
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
}
/* hr{
  border: 1px solid #007bff;
} */
